@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap");

body {
  background: linear-gradient(135deg, #ffffff, #ffffff);
  color: white;
  font-family: "Orbitron", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

.tech-container {
  text-align: center;
  padding: 40px;
}



.glass-card {
  background: rgba(29, 56, 87, 0.747);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(94, 109, 143, 0.719);
  padding: 20px;
  width: 300px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(128, 105, 105, 0.3);
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  color: white !important;
}

.glass-card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.5);
}