@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap");

:root {
  --prim: #53e3a6;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: 300;
}

body {
  font-family: "Orbitron", sans-serif;
  color: white;
  font-weight: 300;
  background: linear-gradient(to bottom right, #ffffff, #ffffff);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.wrapper {
  background: linear-gradient(to bottom right, #50a3a2 0%, #53e3a6 100%);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 600px;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.container h1 {
  font-size: 40px;
  font-weight: 200;
  margin-bottom: 20px;
}

form {
  padding: 20px 0;
  position: relative;
}

form input {
  display: block;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.4);
  background-color: rgba(255, 255, 255, 0.2);
  width: 250px;
  border-radius: 3px;
  padding: 10px 15px;
  margin: 10px auto;
  text-align: center;
  font-size: 18px;
  color: white;
  transition: background-color 0.25s, width 0.25s;
}

form input:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

form input:focus {
  background-color: white;
  width: 300px;
  color: var(--prim);
}

form button {
  outline: none;
  background-color: white;
  border: none;
  padding: 10px 15px;
  color: var(--prim);
  border-radius: 3px;
  width: 250px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.25s;
}

form button:hover {
  background-color: rgb(245, 247, 249);
}